/* ================== Global Styles ========================== */
:root {
  --primary-color: #655fe2; /* Couleur principale de l'application */
  --secondary-color: #E9A5F1; /* Couleur secondaire pour les fonds */
  --text-color: #333; /* Couleur du texte principal */
  --border-radius: 5px; /* Rayon de bordure par défaut */
}
/* Appliquer une base uniforme à tous les éléments */
* {
  box-sizing: border-box; /* Gérer les tailles d'éléments correctement */
  margin: 0; /* Supprimer les marges par défaut */
  padding: 0; /* Supprimer les espaces internes par défaut */
  font-family: Arial, sans-serif; /* Appliquer une police lisible */
}

/* ================= Body Styles ======================== */
/* Définir le fond et la couleur principale pour le corps du document */
body {
  background-color: #f4f4f4; /* Couleur de fond neutre */
  color: #333; /* Couleur de texte sombre pour la lisibilité */
}

html, body {
  height: 100%; /* Assure que la hauteur totale couvre l'écran */
  margin: 0; /* Supprime les marges par défaut */
  display: flex; /* Active Flexbox */
  flex-direction: column; /* Organise les enfants en colonne */
}

/* ==================== Header Styles ======================== */
/* Styliser la section header, contenant le logo et la navigation */
header {
  background: linear-gradient(to right, #667eea, #764ba2);
  color: #fff; /* Couleur de texte blanche pour le contraste */
  padding: 1rem 2rem; /* Espacement interne pour une meilleure apparence */
  display: flex; /* Utiliser Flexbox pour l'agencement horizontal */
  align-items: center; /* Centrer les éléments verticalement */
  justify-content: space-between; /* Espacer les éléments horizontalement */
}

header .logo {
  width: auto; /* Garder une largeur adaptée */
  height: 60px; /* Définir la hauteur du logo */
}

/* ================ Navigation Bar Styles ======================= */
/* Styliser la barre de navigation du header */
nav {
  display: flex; /* Utiliser Flexbox pour aligner les liens */
  flex-direction: row; /* Positionner les liens horizontalement */
  justify-content: space-between; /* Espacer les liens dans la navigation */
  align-items: center; /* Centrer les liens verticalement */
}

nav a {
  color: #fff; /* Couleur blanche pour les liens */
  text-decoration: none; /* Supprimer le soulignement des liens */
  margin-left: 1rem; /* Ajouter un espacement entre les liens */
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav a.login-button {
  /* Couleur et style du bouton de connexion */
  color: #fff;
  padding: 0.5rem 1rem; /* Espacement interne du bouton */
  border-radius: 5px; /* Bordure arrondie pour un aspect moderne */
}

nav a:hover {
  text-decoration: underline; /* Ajouter un soulignement au survol */
}

/* ====================== Main Content Styles ===================== */
/* Styliser le contenu principal de la page */
main {
  padding: 2rem; /* Espacement interne pour le contenu principal */
  display: flex; /* Utiliser Flexbox pour organiser les éléments */
  flex-direction: column; /* Positionner les éléments verticalement */
  align-items: center; /* Centrer les éléments horizontalement */
  flex: 1;
}

/* ================== Heading Styles ========================= */
/* Styliser les titres pour un aspect clair et attractif */
h1 {
  margin-bottom: 2rem; /* Ajouter un espace sous le titre */
  text-align: center; /* Centrer le texte horizontalement */
  color: #333; /* Couleur sombre pour la lisibilité */
}

/* ================ Section Styles ==================== */
/* Styliser la section contenant les filtres */
#filter {
  padding: 1rem; /* Espacement interne */
  margin-bottom: 2rem; /* Espacement avec les autres sections */
  display: flex; /* Organiser les éléments en ligne */
  align-items: center; /* Centrer les éléments verticalement */
}

#filter label {
  font-weight: bold; /* Texte en gras pour les labels */
  margin-right: 0.5rem; /* Espacement à droite des labels */
  color: #555; /* Couleur neutre pour les labels */
}

#filter select {
  padding: 0.5rem; /* Espacement interne des menus déroulants */
  border: 1px solid #ccc; /* Bordure grise légère */
  border-radius: 3px; /* Bordure légèrement arrondie */
}

/* =================== cartes ==================== */
/* Styliser le conteneur principal pour les cartes */
.flex-container {
  display: flex; /* Utiliser Flexbox pour agencer les cartes */
  flex-wrap: wrap; /* Autoriser les cartes à aller à la ligne si nécessaire */
  justify-content: center; /* Centrer les cartes horizontalement */
  gap: 20px; /* Espacement entre les cartes */
  align-items: flex-start; /* Aligner les cartes en haut */
  width: 90%; /* Définir une largeur maximale pour le conteneur */
  max-width: 1200px; /* Largeur maximale des cartes */
}

/* ================= Place Card Styles ======================== */
/* Styliser les cartes représentant des lieux */
.place-card {
  background-color: white; /* Fond blanc pour les cartes */
  border-radius: 10px; /* Bordures arrondies */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Effet d'ombre subtile */
  padding: 10px; /* Espacement interne des cartes */
  text-align: center; /* Centrer le texte horizontalement */
  width: 280px; /* Largeur fixe des cartes */
  height: 400px; /* Hauteur fixe des cartes */;
  margin: 20px; /* Espacement externe entre les cartes */
  border: 3px solid #667eea; /* Bordure grise légère */
 
}

.place-card img {
  width: 100%; /* Assure que l'image occupe toute la largeur de sa carte */
  height: auto; /* Garde les proportions correctes */
  border-radius: 20px; /* Coins arrondis pour un effet esthétique */
  box-shadow: 0 4px 8px rgba(240, 5, 5, 0.1); /* Légère ombre pour un look moderne */
}


.place-card h3 {
  margin-top: 0; /* Supprimer la marge supérieure */
  margin-bottom: 0.5rem; /* Espacement sous le titre */
  color: black; /* Couleur neutre du texte */
  font-size: 1.5rem; /* Taille du texte du titre */
}

.place-card .place-details {
  margin-bottom: 0.5rem; /* Espacement sous les détails */
  color: #101010; /* Couleur neutre pour les détails */
  font-size: 0.9rem; /* Taille du texte pour les détails */
  padding: 0.5rem; /* Espacement interne pour les détails */

}

.place-card .details-button {
  color: white; /* Texte blanc sur le bouton */
  border: none; /* Supprimer les bordures par défaut */
  padding: 0.75rem 1.5rem; /* Espacement interne du bouton */
  border-radius: 25px 5px; /* Bordure arrondie pour un look moderne */
  cursor: pointer; /* Curseur en forme de main au survol */
  font-weight: bold; /* Texte en gras */
  transition: background-color 0.3s ease; /* Animation fluide pour le survol */
  font-size: 0.9rem; /* Taille du texte */
  background: linear-gradient(to right, #667eea, #764ba2);
  background-size: 200% auto; /* Double la taille du dégradé */
  transition: background-position 0.5s ease; /* Animation de la position du fond */
}

.place-card .details-button:hover {
  background-position: -100% center; /* Déplace le dégradé vers la gauche */}


/* ================== Available Places ======================== */
/* Styliser la partie place details avec host price desc amenities*/
.place-detailset {
  display: flex; /* Positionne les éléments horizontalement */
  border-radius: 10px; /* Bordures arrondies pour un effet élégant */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Effet d'ombre subtile */
  width: 90vw; /* Largeur de la carte d'avis */
  margin-bottom: 1rem; /* Espacement sous chaque carte */
  gap: 0.5rem; /* Ajoute un espacement entre le texte et les : */
}
.place-container {
  max-width: 90vw; /* Limite la largeur pour un cadre élégant */
  margin: 20px auto; /* Centre le cadre horizontalement */
  background-color: white; /* Couleur de fond légère */
  padding: 20px; /* Espacement interne */
  border-radius: 20px; /* Coins arrondis */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre douce pour l'esthétique */
  border: 2px solid #655fe2; /* Bordure grise légère */
}

.place-info {
  margin-bottom: 0.5rem; /* Espacement sous chaque info */
  text-align: center;/* Centrer le texte horizontalement */
  margin-top: 1rem; /* Espacement au-dessus de chaque info */
  padding: 0.5rem;/* Espacement interne pour les détails */
  flex-direction: column; /* Positionner les éléments verticalement */
  justify-content: center;
  width: 70vw; /* Largeur de la carte d'avis */
  
}
.place-info p{
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Masquer les lieux filtrés */
.place-card {
  transition: opacity 0.3s ease, transform 0.3s ease; /* Ajoute une animation de transition */
  opacity: 1;
  transform: scale(1);
}

.place-card.hidden {
  opacity: 0; /* Rendre l'élément invisible */
  transform: scale(0.9); /* Rétrécir légèrement pour un effet élégant */
  display: none; /* Supprime complètement après l'animation */
}
.place-card img {
  display: block; /* Assure que l'image est visible */
  visibility: visible; /* Empêche que l'image soit cachée */
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* ================= Review  ======================== */

.review-card {
  margin: 30px; /* Marge externe pour espacer les avis */
  padding: 1rem; /* Rembourrage interne pour un contenu clair */
  border: 2px solid #655fe2; /* Bordure légère */
  border-radius: 20px; /* Bordures arrondies pour un effet élégant */
  background-color: #fff; /* Fond blanc pour les avis */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Effet d'ombre subtile */
  width: 90vw; /* Largeur de la carte d'avis */
}

/* Conteneur d'alignement pour "Rating:" et les étoiles */
.review-rating-container {
  display: flex; /* Aligne les éléments horizontalement */
  align-items: center; /* Centre verticalement le texte et les étoiles */
  gap: 0.5rem; /* Ajoute un espacement entre le texte et les étoiles */
  
}

.rating {
  display: flex; /* Aligne les étoiles horizontalement */
  cursor: pointer; /* Curseur en forme de main au survol */
  font-size: 1.5rem; /* Taille des étoiles */
}

.star {
  color: black; /* Couleur des étoiles vides */
  transition: color 0.3s ease; /* Animation fluide pour le survol */
}

.star.active {
  color: gold; /* Couleur dorée pour les étoiles pleines */
}

.star.active:hover {
  color: gold; /* Ajout de cette règle pour garantir la priorité */
}

.review-card .review-comment {
  margin-bottom: 5rem; /* Espacement sous le commentaire */
  color: #141313; /* Couleur sombre pour la lisibilité */
  font-size: 1rem; /* Taille du texte pour le commentaire */
  text-align: left;
  margin-bottom: 1rem; /* Espacement sous chaque carte */
;
}

.review-card .review-user {
  font-weight: bold; /* Texte en gras pour le nom de l'utilisateur */
  color: #111010; /* Couleur grise pour un contraste léger */
  text-align: left; /* Alignement à droite */
  margin-bottom: 1rem; /* Espacement sous chaque carte */
 
}

.review-card .review-rating {
  color: #131212; /* Couleur neutre pour la note */
  text-align: left; /* Alignement à droite */
}

.Add-review button {
  color: white; /* Texte blanc sur le bouton */
  border: none; /* Supprimer les bordures par défaut */
  padding: 0.75rem 1.5rem; /* Espacement interne du bouton */
  border-radius: 25px 5px; /* Bordure arrondie pour un look moderne */
  cursor: pointer; /* Curseur en forme de main au survol */
  font-weight: bold; /* Texte en gras */
  transition: background 0.3s; /* Animation fluide pour le survol */
  font-size: 0.9rem; /* Taille du texte */
  background: linear-gradient(to right, #667eea, #764ba2);
  background-size: 200% auto; /* Double la taille du dégradé */
  transition: background-position 0.5s ease; /* Animation de la position du fond */
}

.Add-review button:hover {
  background-position: -100% center; /* Déplace le dégradé vers la gauche */
}

/* ================ Tabs Styles ==================== */
.tabs {
  display: flex; /* Aligner les boutons horizontalement */
  justify-content: center; /* Centrer les boutons */
  gap: 10px; /* Espacement entre les boutons */
  margin: 20px 0; /* Espacement en haut et en bas */
}

/* Style de base des boutons */
.tabs .tab-link {
  border: 1px solid #ddd; /* Bordure grise légère */
  padding: 10px 20px; /* Espacement interne des boutons */
  border-radius: 5px; /* Coins arrondis */
  text-transform: capitalize; /* Mettre la première lettre en majuscule */
  font-size: 16px; /* Taille du texte */
  cursor: pointer; /* Curseur en forme de main */
  transition: all 0.3s; /* Transition pour des animations fluides */
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
  border-radius: 25px 5px;

}


/* Style au survol (hover) */
.tabs .tab-link:hover {
  background-color: var(--secondary-color);
}

/* Style pour le bouton actif (classe active) */
.tabs .tab-link.active {
  background-color: #655fe2; /* Couleur du bouton actif */
  color: white; /* Texte blanc */
  font-weight: bold; /* Texte en gras pour le bouton actif */
  border: 2px solid #4338ca; /* Bordure plus épaisse */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
}

.tabs .tab-link:active {
  background-color: #4338ca; /* Couleur temporaire au clic */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Effet enfoncé */
}

/*--------------- Add Review Page ---------------*/
.add-review-card-page {
  max-width: 600px;
  width: 900%;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid #655fe2; /* Bordure légère */
}

.add-review-card-page textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #d0c3c3;
  border-radius: 5px;
  font-size: 1rem;
}


.add-review-card-page textarea:focus {
  border-color: #d0c3c3;
  outline: none;
  box-shadow: 0 0 3px rgba(65, 65, 65, 0.5);
}

.add-review-card-page label {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.add-review-card-page button {
  
  color: #f8f3f3;
  border: 1px solid #655fe2;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border-radius: 25px 5px;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(to right, #667eea, #764ba2);
  background-size: 200% auto; /* Double la taille du dégradé */
  transition: background-position 10s ease; /* Animation de la position du fond */
  
}

.add-review-card-page button:hover {
    background-position: -100% center; /* Déplace le dégradé vers la gauche */
}

.rating-star {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating-star input {
  display: none; 
}

.rating-star label {
  font-size: 2rem;
  color: #d0c3c3;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0.1rem;
}

.rating-star label:hover,
.rating-star label:hover ~ label {
  color: gold;
}

.rating-star input:checked ~ label {
  color: gold;
}

/*--------------- Login Page ---------------*/

.form-login-button {
  color: white;
  font-family: bold;
  background: linear-gradient(to right, #5f73ce, #7013ce);
  background-size: 200% auto; /* Double la taille du dégradé */
  transition: background-position 0.5s ease; /* Animation de la position du fond */
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border-radius: 25px 5px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #655fe2; /* Bordure légère */
}

.form-login-button:hover {
  background-position: -100% center; /* Déplace le dégradé vers la gauche */
}

.Welcome-message {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(48, 73, 237); /* Couleur principale */
  -webkit-text-stroke: 1px white; /* Pour les navigateurs basés sur WebKit (Chrome, Safari) */
  color: white;
  background: linear-gradient(to right, #667eea, #764ba2);
  padding: 10px 20px; /* Espacement intérieur (haut/bas, gauche/droite) */
  border-radius: 5px; /* Optionnel : pour arrondir les angles du bandeau */
}

.login-card {
  max-width: 400px;
  width: 100%;
  background: linear-gradient(to right, #667eea, #764ba2);
  margin-top: 3rem;
  border: 10px solid #667eea;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-card label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #fff;
}

.login-card input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #d0c3c3;
  border-radius: 5px;
  font-size: 1rem;
}

.login-card input:focus {
  border-color: #d0c3c3;
  outline: none;
  box-shadow: 0 0 3px rgba(65, 65, 65, 0.5);
}

.login-page {
  background-image: url("/part4/doc_images/voyage\ carte.jpg");
  background-size: cover; /* Couvrir toute la page */
  opacity: 5; /* Rendre l'image légèrement transparente */;
}


/* =================== Footer Styles ==================== */
/* Styliser la section footer pour le bas de la page */
footer {
  background: linear-gradient(to right, #667eea, #764ba2);
  color: #fff; /* Texte blanc pour le contraste */
  padding: 1rem; /* Espacement interne du footer */
  text-align: center; /* Centrer le texte horizontalement */
}